{% extends 'inventory/base.html' %}
<!--  -->
{% block content %}
<!--  -->

{% include 'inventory/sidenav.html' %}
<div class="main-content" id="panel">
  {% include 'inventory/nav.html' %}
  <div class="container-fluid">
    <div class="row mt-4">
      <!-- Card statistic boards -->
      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Total Orders
                </h5>
                <span class="h2 font-weight-bold mb-0"></span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-gradient-info text-white rounded-circle shadow"
                >
                  <i class="ni ni-chart-bar-32"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Total Pending
                </h5>
                <span class="h2 font-weight-bold mb-0"></span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
                >
                  <i class="ni ni-chart-bar-32"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Total Delivered
                </h5>
                <span class="h2 font-weight-bold mb-0"></span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-gradient-green text-white rounded-circle shadow"
                >
                  <i class="ni ni-chart-bar-32"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- product and order -->
    <div class="row">
      <div class="col-xl-8">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Products</h3>
              </div>
              <div class="col text-right">
                <a
                  href="{% url 'create-product' %}"
                  class="btn btn-sm btn-primary"
                  >Add product</a
                >
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Product name</th>
                  <th scope="col">price</th>
                  <th scope="col">Status</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                {% for i in products %}
                <tr>
                  <th scope="row">
                    {{i.name}}
                  </th>
                  <td>
                    {{i.price}}
                  </td>
                  <td>
                    <i class="fas fa-arrow-up text-success mr-3"></i>
                    {{i.category}}
                  </td>
                  <td>
                    {{i.quantity}}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Sales</h3>
              </div>
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">Add orders</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Customer</th>
                  <th scope="col">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <!-- {% for i in orders %} -->
                <tr>
                  <th scope="row">
                    Amina
                  </th>
                  <td>
                    dell
                  </td>
                  <td>
                    4
                  </td>
                  <td>
                    <div class="btn btn-sm btn-warning"></div>
                  </td>
                </tr>
                <!-- {% endfor %} -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  -->
{% endblock %}
